.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-item {
  color: white;
  margin-right: 50px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  .nav-item {
    margin-right: 20px;
  }
}
